# this file is meant for development, when using this in production remove the headers section!.
http:// {
	file_server {
		root ./wwwroot/
	}

	encode

	header {
		Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
		Expires "0"
		Pragma "no-cache"
	}
}
