* {
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background: rgb(24, 24, 24);
    color: whitesmoke;
}

p,
h1,
h2,
h3 {
    margin-top: 0;
}

header {
    padding: 1em;
    margin-bottom: 1rem;
}

header>button {
    margin-right: 10px;
    font-size: 1.2rem;
    -webkit-backdrop-filter: none;
}

main {
    position: relative;
}

small {
    font-style: italic;
    opacity: .8;
    font-size: .7em;
    font-weight: normal;
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: .5em;
}

i {
    font-size: .9em;
    margin-right: .3em;
}




.message {
    border: solid 2px transparent;
    font-size: 1.2rem;
    padding: .5em 1em;
    margin: .5em;
    margin-bottom: 1rem;
    border-radius: 6px;

}

.message.error {
    color: firebrick;
    border-color: firebrick;
}

.message.success {
    color: green;
    border-color: green;
}

.message.info {
    color: dodgerblue;
    border-color: dodgerblue;
}






.album-grid {
    display: flex;
    flex-direction: column;
}

.album-grid h1 {
    width: 100%;
}

.album-grid button {
    margin: 1rem;
    margin-top: 0;
    font-size: 1.3em;
    text-align: left;
    -webkit-backdrop-filter: none;
}

.album-grid button small {
    font-size: .8em;
    font-style: italic;
    opacity: .7;
}





.slide-show-container>* {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}





.img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-size 7s linear;
}

.content-bottom {
    justify-content: flex-end;
}



.glass-tile {
    border: 0;
    background: rgba(75, 75, 75, 0.3);
    box-shadow: inset -1px 2px 5px 0px rgba(220, 220, 220, 0.22);
    border-radius: 6px;
    color: white;
    padding: .7em 1em;
}

.info-card {
    font-weight: bolder;

    padding: .3em .6em;
    font-size: 1.8rem;

    margin: .5em;
    margin-left: .5em;

    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0;  */

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}






.location {
    display: flex;
    padding: .75em;
}

.location span {
    line-height: 30px;
}

.location i {
    font-size: 1.1em;
    margin-right: .35em;
}





.time {
    line-height: 0;
    margin-bottom: 1px;
}